body {
    background-color: #aaaaaa !important;
}

header {
    background-color: #555555 !important;
}

footer {
    background-color: #555555 !important;
}

main {
    filter: brightness(100%) contrast(90%) !important;
}

#seasame {
    #navExt {
        background-color: #d18d04 !important;
        svg {
            path {
                fill: #d4d4d4;
            }
        }
        button {
            background-color: #d4d4d4 !important;
        }
    }
}

#tabs {
    filter: brightness(90%) !important;
    div {
        transition: 0.5s;
        &:hover {
            stroke: #8f8f8f;
            stroke-width: 2px;
            filter: saturate(150%) brightness(90%) !important;
            span {
                color: #eeeeee;
            }
        }
        a {
            text-decoration: none;
        }
    }
}

#girl {
    svg {
        filter: invert(10%) !important;
    }
}