* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--backgroundColor);
}

header {
  width: 100vw;
  height: 8vh;
  background-color: var(--headerColor);
}

header nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  color: var(--text);
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.5rem;
}

header nav a:hover {
  color: var(--tabFont);
}

header nav i {
  color: var(--text);
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav i:hover {
  color: var(--tabFont);
}

#seasame {
  display: none;
  z-index: 9;
  opacity: 0.75;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#seasame #navExt {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 250vh;
  height: 250vh;
  border-radius: 50%;
  border: 2px solid var(--navBorder);
  background-color: var(--navMenu);
}

#seasame #navExt #organize {
  position: absolute;
  top: 175vh;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#seasame #navExt #organize div:hover svg {
  -webkit-transform: rotateY(5deg);
          transform: rotateY(5deg);
}

#seasame #navExt #organize div:hover svg path {
  fill: var(--navHover);
}

#seasame #navExt #organize svg {
  margin-bottom: 2rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#seasame #navExt #organize span {
  position: absolute;
  display: inline-block;
  margin-top: 2rem;
  left: 50%;
  text-decoration: none;
  color: var(--text);
  font-size: 2rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 3;
}

#seasame #navExt #organize #switchHouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#seasame #navExt #organize #switchHouse p {
  color: var(--text);
  font-size: 1.5rem;
  margin-right: 1rem;
}

#seasame #navExt #organize #switchHouse input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#seasame #navExt #organize #switchHouse label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--switch);
  float: right;
  border-radius: 100px;
  position: relative;
}

#seasame #navExt #organize #switchHouse label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--switchButton);
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#seasame #navExt #organize #switchHouse input:checked + label {
  background: var(--switch);
}

#seasame #navExt #organize #switchHouse input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#seasame #navExt #organize #switchHouse label:active:after {
  width: 45px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: var(--footerColor);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text);
}

footer h2 {
  margin-left: 1.5rem;
  font-size: 1.8rem;
}

footer h2:hover {
  color: var(--tabFont);
}

footer i {
  font-size: 1.5rem;
  padding: 0 0.2rem;
}

footer i:hover {
  color: var(--tabFont);
}
/*# sourceMappingURL=header_footer_nav.css.map */