main {
  z-index: -9;
  position: absolute;
  left: 0;
  top: 8vh;
  bottom: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main a {
  text-decoration: none;
}

main a section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
  height: 40vh;
  opacity: 0.8;
  overflow: visible;
  -webkit-box-shadow: -2px 8px 6px var(--subjectShadow);
          box-shadow: -2px 8px 6px var(--subjectShadow);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate(-5deg) skew(-5deg, 6.5deg) scale(0.9) translate3d(0, 0, 0);
          transform: rotate(-5deg) skew(-5deg, 6.5deg) scale(0.9) translate3d(0, 0, 0);
  -webkit-transition: 0.7s -webkit-transform;
  transition: 0.7s -webkit-transform;
  transition: 0.7s transform;
  transition: 0.7s transform, 0.7s -webkit-transform;
}

main a section::before {
  content: '';
  position: absolute;
  bottom: -5.5px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: inherit;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: skew(-41deg, 0) translate3d(0, 0, 0);
          transform: skew(-41deg, 0) translate3d(0, 0, 0);
}

main a section::after {
  content: '';
  position: absolute;
  left: -4.5px;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: inherit;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skew(0, -49deg) translate3d(0, 0, 0);
          transform: skew(0, -49deg) translate3d(0, 0, 0);
  z-index: 2;
}

main a section:hover {
  -webkit-transform: rotate(-10deg) skew(-4deg, 6.5deg) scale(0.75) translate3d(0, 0, 0);
          transform: rotate(-10deg) skew(-4deg, 6.5deg) scale(0.75) translate3d(0, 0, 0);
}

main a section span {
  text-align: center;
  color: var(--text);
  font-size: clamp(0.8rem, 2vw, 2.2rem);
}

#buttons {
  position: absolute;
  left: 50%;
  bottom: 12vh;
  width: clamp(60px, 20vw, 90px);
  height: 6vh;
  border-radius: 25px;
  background-color: var(--buttonBox);
  opacity: 0.8;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#buttons i {
  font-size: clamp(2.3em, 5vw, 3rem);
  color: var(--button);
  cursor: pointer;
}

#buttons i:hover {
  color: var(--buttonHover);
}

.bye {
  opacity: 0 !important;
}

#page2 {
  z-index: -7;
  display: none;
}

@media (max-width: 700px) {
  main {
    position: absolute;
    left: 0;
    top: 10vh;
    bottom: 12vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main a {
    text-decoration: none;
  }
  main a section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
    height: 16vh;
    opacity: 0.8;
    overflow: visible;
    -webkit-box-shadow: -2px 8px 6px var(--subjectShadow);
            box-shadow: -2px 8px 6px var(--subjectShadow);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotate(-5deg) skew(-5deg, 6.5deg) scale(0.9) translate3d(0, 0, 0);
            transform: rotate(-5deg) skew(-5deg, 6.5deg) scale(0.9) translate3d(0, 0, 0);
    -webkit-transition: 0.7s -webkit-transform;
    transition: 0.7s -webkit-transform;
    transition: 0.7s transform;
    transition: 0.7s transform, 0.7s -webkit-transform;
  }
  main a section::before {
    content: '';
    position: absolute;
    bottom: -5.5px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: inherit;
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: skew(-41deg, 0) translate3d(0, 0, 0);
            transform: skew(-41deg, 0) translate3d(0, 0, 0);
  }
  main a section::after {
    content: '';
    position: absolute;
    left: -4.5px;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: inherit;
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: skew(0, -49deg) translate3d(0, 0, 0);
            transform: skew(0, -49deg) translate3d(0, 0, 0);
    z-index: 2;
  }
  main a section:hover {
    -webkit-transform: rotate(-10deg) skew(-4deg, 6.5deg) scale(0.75) translate3d(0, 0, 0);
            transform: rotate(-10deg) skew(-4deg, 6.5deg) scale(0.75) translate3d(0, 0, 0);
  }
  main a section span {
    text-align: center;
    color: var(--text);
    font-size: clamp(0.8rem, 2vw, 2.2rem);
  }
}
/*# sourceMappingURL=streams1.css.map */